@charset "utf-8";
/* CSS Document */

a.menu
{
	color: #8cc641;
	text-decoration: none;
	display: block;
	border-bottom-width: 1px;
	border-bottom-color: #eeeeee;
	border-bottom-style: solid;
}
a.menu:hover
{
	background: #8cc641;
	color: #ffffff;
}

body
{
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
div.geral
{
	width: 998px;
	margin-left: auto;
	margin-right: auto;
}